/* 
## Layout

Os designs foram criados nas seguintes larguras:

Área de trabalho: 1440px

### Cópia do corpo

- Tamanho da fonte: 15px

### Fonte

- Família: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Pesos: 400, 500, 700 

400 regular
500 medium
700 bold

*/

:root{
    --MagentaMuitoEscuro: hsl(300, 43%, 22%);
    --RosaSuave: hsl(333, 80%, 67%);
    --MagentaAcinzentadoEscuro: hsl(303, 10%, 53%);
    --MagentaAcinzentadoClaro: hsl(300, 24%, 96%);
    --Branco: hsl(0, 0%, 100%);
}

@font-face {
    font-family: League Spartan;
    src: url(../fonts/League_Spartan/static/LeagueSpartan-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: League Spartan;
    src: url(../fonts/League_Spartan/static/LeagueSpartan-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: League Spartan;
    src: url(../fonts/League_Spartan/static/LeagueSpartan-Bold.ttf);
    font-weight: 600;
}

html{
    height: 100%;
}

body{
    background-color: var(--Branco);
    background-image: url(../images/bg-pattern-top-desktop.svg),  url(../images/bg-pattern-bottom-desktop.svg);    
    background-repeat: no-repeat, no-repeat;    
    background-position: top, bottom;    
    min-height: 100vh;
    
}

main{
    display: flex;
    flex-direction: column;    
    font-family: League Spartan;
    min-height: 100vh;
    position: relative;
}

#superior{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.esquerda{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;   

}

.textoPrincipal {
    font-weight: 600;
    font-size: 40px;
    width: 300px;
    line-height: 0.9;
    color: var(--MagentaMuitoEscuro);
    margin: 100px 20px 10px -7%;
    
    
}

.textoSecundario {    
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    width: 400px;
    color: var(--MagentaAcinzentadoEscuro);
    margin: 10px 20px 20px 6%;
}

#superior .direita{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;   
    
}

.primeira, .segunda, .terceira {
    background: var(--MagentaAcinzentadoClaro);
    color: var(--MagentaMuitoEscuro);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    
}

.primeira{
    margin: 100px 10px 10px 20px;
}

.segunda {
    margin: 10px 10px 10px 50px;
}

.terceira {
    margin: 10px 10px 10px 90px;
}

.estrelas {
    background-image: url(../images/icon-star.svg);
    background-repeat: repeat-x;    
    width: 85px;
    height: 18px;
    margin: 0px 10px 0px 0px;
}



#inferior{
    width: 100%;       
    font-size: 15px;
    display: flex;
    flex-direction: row;  
    align-items: center; 
    justify-content: center; 
   
}

.container1{
    display: flex;
    flex-direction: column;    
    width: 360px;
    height: 225px;
    background: var(--MagentaMuitoEscuro);
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

.fotoENome1{        
    display: flex;  
    flex-direction: row;  
    color: var(--Branco);
    margin: 30px 20px 20px 30px;    
}

.nome{
    font-weight: 600;
}
.nomestatus{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.frase{
    color: var(--Branco);
    margin: 10px 20px 40px 30px;
}

.foto1 img{
    width: 40px;
    height: 40px;
    clip-path: circle(50% at center);
}


.status{
    color: var(--RosaSuave);
}

.container2{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 225px;
    background: var(--MagentaMuitoEscuro);
    border-radius: 10px;
    margin: 30px 10px 10px 20px;
}

.container3{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 225px;
    background: var(--MagentaMuitoEscuro);
    border-radius: 10px;
    margin: 50px 10px 10px 20px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    align-items: end;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }