

/* 

- Família: [Poppins](https://fonts.google.com/specimen/Poppins)
- Pesos: 600

### Corpo, frases de chamariz

- Família: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Pesos: 400, 700

- Tamanho da fonte: 18px */
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}


@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/static/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/static/OpenSans-Bold.ttf);
    font-weight: 700;
}



:root{
    --Rosa: hsl(322, 100%, 66%);
    --CianoMuitoPalido: hsl(193, 100%, 96%);
    --CianoMuitoEscuro: hsl(192, 100%, 9%);
    --AzulAcinzentado: hsl(208, 11%, 55%);
    --sombraCaixa: -1px 0px 5px -2px hsl(208, 11%, 55%);
    --fonte-titulo: "Poppins", sans-serif;

    
}

body{
    font-family: "Open Sans";
    font-size: 18px;
    
}

header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--CianoMuitoPalido);     
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;    
}

/* Flex containers em coluna*/
header,
.meioPagina section,
.destaques {
    display: flex; 
    flex-direction: column;  
}

/* Flex containers em linha*/
header nav,
.meioPagina,
.bloco-destaque
{
    display: flex;
    flex-direction: row;
}


header nav {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 10rem;    
    min-width: 16%;
    max-width: 100%;
}

nav button{
    border: none;
    border-radius: 25px;
    padding: 0.8rem 2rem;
    width: max-content;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
}



.meioPagina {  
    padding: 1rem;
    height: 70%;
    width: auto;
    justify-content: space-between;
    

}

.meioPagina h1{
    font-family: 'Poppins';
    font-weight: 600;
}

.meioPagina section{
    justify-content: center; 
    border: green solid 1px;
    width: 500px;
}

.imagemTela img {    
    border: yellow solid 1px;  
    height: 50vh;
    justify-content: center;
    align-items: center;
    position: relative;    
    
}

.meioPagina section button {
    border: none;
    border-radius: 35px;
    padding: 1.1rem 2rem;
    width: 300px;
    background-color: var(--Rosa);
    color: white;    
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
    align-self: center;
}

.destaques {
    gap: 3rem;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 13.9rem;
    position: relative;
}

.bloco-destaque{
    background-color: var(--white);
    box-shadow: var(--sombraCaixa);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 87%;
    height: 70vh;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    gap: 3rem;
}

.imagem-destaque {
    height: fit-content;
    align-self: center;
}
